<?xml version="1.0" encoding="UTF-8"?>
<navigation>
  <index1>
    <label>Páginas</label>
    <icon>fa fa-file-text</icon>
    <permissao>2</permissao>
    <link>paginas</link>    
  </index1>
  <index>
    <label>Listar Páginas</label>
    <link>paginas</link>    
  </index>
  <index>
    <label>Cadastrar Página</label>
    <link>paginas-create</link>    
  </index>
  <index>
    <label>Categorias</label>
    <link>categorias</link>    
  </index> 
</navigation>